body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}

.contenedor-general {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #b7dfd7;
  width: 100%; /* Ocupa todo el ancho disponible */
  height: 100%; /* Ocupa toda la altura disponible */
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}
